@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Dosis:wght@200..800&family=Iceland&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --bg-light: #111111;
  --bg-dark: #0e0e0e;
  --accent-red: #ff0000;
  --accent-dark: #d31010;
  --accent-light: #ef4444;
  --white: #fff;
  --grey-dark: #505050;
  --grey-light: #b3b3b3;
  --black: #000;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

body {
  color: var(--grey-light);
  background: radial-gradient(circle, var(--bg-light), var(--bg-dark));
}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}
.canvas-container canvas{
  pointer-events: none !important;
}

.section {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ring {
  width: clamp(260px, 40vw + 100px, 400px);
  height: clamp(260px, 40vw + 100px, 400px);
  border-radius: 100%;
  position: absolute;
  border: 3px solid var(--accent-light);
  filter: drop-shadow(5px 5px 10px var(--accent-red)) drop-shadow(-10px -10px 10px var(--accent-light)) drop-shadow(5px 5px 20px var(--accent-dark));
  will-change: transform, opacity;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  width: 100%;
  height: 10%;
  padding: 2em clamp(1.5em, 8vw, 6em);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header span {
  font-size: clamp(1rem, 1vw + 0.7rem, 1.2rem);
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header .name {
  font-size: clamp(1.3rem, 4vw + 0.5rem, 2rem);
  color: var(--white);
}

.center {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4 {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hero-text h1 {
  font-size: clamp(3.5rem, 12vw + 1rem, 14rem);
  color: var(--black);
  opacity: 0.5;
}
h2{
  font-size: clamp(1.5rem, 4vw + 0.5rem, 2rem);
  letter-spacing: 0.15em;
}
h3{
  font-size: clamp(1.2rem, 1vw + 0.8rem, 1.5rem);
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--accent-dark);
}
h4{
  font-size: 1rem;
}
span{
  font-size: 0.9rem;
}

.redline {
  margin: 2em 0;
  width: 100px;
  border: 2px solid var(--accent-dark);
}

/* NAVIGATION */
.nav-rail-left {
  position: fixed;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 14px;
  z-index: 999;
}

.nav-rail-right {
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 14px;
  z-index: 999;
}

.nav-line {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 100%;
  background: var(--grey-dark);
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-line:hover {
  background: var(--grey-light);
}

.nav-line.active,
.nav-line:active {
  width: 15px;
  height: 15px;
  background: var(--accent-red);
  box-shadow:
    0 0 6px rgba(255, 0, 0, 0.6),
    0 0 16px rgba(255, 0, 0, 0.3);
}

/* PROJECTS */
.project-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.checked-bg {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 100%;
  right: 0%;
  background-image: linear-gradient(to left, #1e1e1e70 1px, transparent 1px),
    linear-gradient(to bottom, #1e1e1e70 1px, transparent 1px);
  background-size: 1em 1em;
}

.project-header {
  display: flex;
  width: 100%;
  height: auto;
  padding: clamp(2rem, 8vw + 1rem, 5rem) clamp(1.5rem, 15vw - 1rem, 10rem);
  flex-direction: column;
}

.desc {
  width: 350px;
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 1.1rem;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.featured-projects {
  width: 100%;
  display: flex;
  padding: 0 clamp(2rem, 8vw - 0.5rem, 6rem);
  align-items: center;
}

.featured-projects hr {
  margin-left: 1em;
  width: 82%;
  border: 1px solid #2a2a2a;
}

.project-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em clamp(2rem, 8vw - 0.5rem, 6rem);
  justify-content: center;
  box-sizing: border-box;
  align-items: flex-start;
  align-content: flex-start;
}

.projects {
  flex: 1 1 300px;
  max-width: 400px;
  height: 350px;
  border: 1px solid #2a2a2a;
  box-sizing: border-box;
}

#project1 {
  background: url("https://i.pinimg.com/control1/1200x/20/25/2a/20252a5fb13e812b66671c6ec00ed0ef.jpg");
  background-position: center;
  background-size: cover;
}

#project2 {
  background: url("https://i.pinimg.com/736x/86/92/65/8692652bcdc6330a0580ccd9c059f24e.jpg");
  background-position: center;
  background-size: cover;
}

#project3 {
  background: url("https://i.pinimg.com/736x/42/80/99/4280993fa3a8a2039c2e90a5fccf2a09.jpg");
  background-position: center;
  background-size: cover;
}

.transparent-window {
  width: 100%;
  height: 80%;
  position: relative;
  top: 20%;
  padding: 3em 2em;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 0));
}

.projects h3 {
  margin: 1em 0;
}

.projects span {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.view-btn {
  margin-top: 5em;
  width: auto;
}

.view-btn button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #fff;
  font-family: "Iceland", sans-serif;
  font-size: 1rem;
  transition: 1s ease;
}
.view-btn button:hover{
  letter-spacing: 0.5rem;
  transition: 1s ease;
}

.arrow-icon {
  margin-left: 0.5rem;
  display: flex;
  font-size: 1.6rem;
  color: #ff0000;
}

/* #ABOUT */

.about-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: clamp(2rem, 8vw + 1rem, 5rem) clamp(1.5rem, 15vw - 1rem, 6rem);
  align-items: center;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
}

.about-content {
  flex: 1 1 300px;
  max-width: 450px;
  height: 80vh;
}

.about-block {
  margin: 1.5rem 0;
}

.about-block h3 {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.timeline-item {
  display: flex;
  gap: 1rem;
}

.dot {
  width: 8px;
  height: 8px;
  margin-top: 8px;
  border-radius: 50%;
  background: #ff0000;
}

.timeline-item h4 {
  margin-bottom: 0.4rem;
}

.skill {
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
}

.skill span {
  width: 80px;
  display: block;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05em;
}

.skill-bar {
  margin-left: 1rem;
  width: 50%;
  height: 2px;
  background: rgba(255,255,255,0.15);
}

.skill-fill {
  height: 100%;
  background: #ff0000;
}

.w90 { width: 90%; }
.w85 { width: 85%; }
.w80 { width: 80%; }
.w75 { width: 75%; }
.tools-grid {
  display: flex;
  flex-wrap: wrap;

  gap: 0.75rem;
}

.tools-grid span {
  border: 1px solid rgba(255,255,255,0.15);
  padding: 0.6rem 1rem;
  letter-spacing: 0.1em;
  transition: 0.3s;
}

.tools-grid span:hover {
  border-color: #ff0000;
  color: #ff0000;
}

.about-center {
  flex: 1 1 350px;
  max-width: 500px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content {
  flex: 1 1 300px;
  max-width: 450px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: right;
}

.contact-header h2 {
  font-weight: 300;
  letter-spacing: 0.15em;
}
.contact-header .redline {
  margin-left: 18rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid var(--accent-dark);
  margin-left: 2rem;
  padding: 1rem;
}

.contact-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: right;
}

.contact-label {
  color: #ff0000;
  letter-spacing: 0.25em;
  display: flex;
  align-items: center;
  justify-content: right;
}

.about-footer {
  width: 100%;
  position: relative;
  display: flex;
  bottom: 2em;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* HUD */
.hud {
  position: absolute;
  width: 460px;
  height: 480px;
  display:flex;
  justify-content:center;
  align-items:center;
  pointer-events: none;
  z-index: 0;
}
.hud-ring {
  position: absolute;
  border-radius: 50%;
}
.ring-1 {
  width: 350px;
  height: 350px;
  border: 1px solid rgba(255,255,255,.12);
  box-shadow:
    0 0 20px rgba(255,255,255,.05);
}
.ring-2 {
  width: 260px;
  height: 260px;
  border: 1px solid rgba(255,255,255,.08);
}
.ring-3 {
  width: 170px;
  height: 170px;
  border: 1px solid rgba(255,255,255,.05);
}
.ring-1::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 50%;
  border-top: 2px solid #ff0000;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  animation: radarSpin 24s linear infinite;
}

.ring-2::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: 50%;
  border-top: 2px solid rgba(255,255,255,.6);
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  animation: radarSpinReverse 40s linear infinite;
}
.crosshair {
  position: absolute;
}
.horizontal {
  width: 750px;
  height: 1px;
  background:
    linear-gradient(
      90deg,
      transparent,
      rgba(255,255,255,.15),
      transparent
    );
}

.vertical {
  width: 1px;
  height: 750px;
  background:
    linear-gradient(
      180deg,
      transparent,
      rgba(255,255,255,.15),
      transparent
    );
}
.ticks {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 2px dashed rgba(255,255,255,.05);
  animation: radarSpin 120s linear infinite;
}
.radar-sweep {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background:
    conic-gradient(
      from 0deg,
      rgba(255,0,0,0.0),
      rgba(255,0,0,0.0),
      rgba(255,0,0,0.03),
      rgba(255,0,0,0.12)
    );
  mix-blend-mode: screen;
  animation: radarSpin 18s linear infinite;
}
.hud::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:
    radial-gradient(
      circle,
      rgba(255,255,255,.04),
      transparent
    );
}
@keyframes radarSpin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes radarSpinReverse {
  from {
    transform:rotate(360deg);
  }
  to {
    transform:rotate(0deg);
  }
}

.hud-label {
  position: absolute;
  color: rgba(255,255,255,1);
  font-size: 11px;
  letter-spacing: .25em;
  text-transform: uppercase;
}
.hud .top{
  top:0;
  transform:translateY(50%);
}
.hud .bottom{
  bottom:0;
  transform:translateY(-50%);
}
.hud .left{
  left:0;
  transform:translateX(-50%);
}
.hud .right{
  right:0;
  transform:translateX(50%);
}

.vh-20{
  display:none;
}

/* LOADING ANIMATION */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* @keyframes ringGrowIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.4); 
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
} */
.animate-entry {
  animation: fadeInUp 1.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  will-change: transform, opacity;
  opacity: 0; 
}
/* .animate-ring-grow{
  animation: ringGrowIn 1.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  will-change: transform, opacity;
  opacity: 0;
} */
.delay-1 { animation-delay: 0.6s; }
.delay-2 { animation-delay: 0.8s; }
.delay-3 { animation-delay: 1s; }

.vh-20{
  display: block;
  height: 20rem;
}